.elementor-20 .elementor-element.elementor-element-91251e7.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.76);}
.elementor-20 .elementor-element.elementor-element-59882a2 .elementor-text-editor {text-align: center;}
.elementor-20 .elementor-element.elementor-element-59882a2 {color: rgba(0,0,0,.85);}